<div class="flex align-items-center justify-content-between breadcumb-custom">
    <h4 class="text-lg font-bold">Daftar User</h4>
    <p-breadcrumb class="max-w-full" [model]="breadcumbdItems" [home]="home"></p-breadcrumb>
</div>

<div class="grid p-5">

    <div class="col-12 md:col-12">
        <div class="custom-card">
            <div class="grid">
                <div class="col-12">
                    <div class="mb-2 flex justify-content-between">
                        <p-button icon="pi pi-plus" label="Add User" styleClass="p-button-sm p-button-primary"></p-button>
                        <div>
                            <div class="p-inputgroup">
                                <input type="text" pInputText placeholder="Cari" />
                                <button type="button" pButton icon="pi pi-search" styleClass="p-button-secondary"></button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <p-table [value]="dataAccount" styleClass="p-datatable-striped" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>Group</th>
                                    <th>Status</th>
                                    <th>Last Login</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data>
                                <tr>
                                    <td>Admin</td>
                                    <td>Jhondoe</td>
                                    <td>Jhondoe@mail.com</td>
                                    <td>AP</td>
                                    <td>Aktif</td>
                                    <td>01-01-2023 00:00:00</td>
                                    <td style="width: 180px;">
                                        <p-button icon="pi pi-lock" styleClass="p-button-outlined p-button-secondary p-button-sm mr-1"></p-button>
                                        <p-button icon="pi pi-pencil" styleClass="p-button-outlined p-button-primary p-button-sm mr-1"></p-button>
                                        <p-button icon="pi pi-trash" styleClass="p-button-outlined p-button-danger p-button-sm mr-1"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>