<div class="flex align-items-center justify-content-between breadcumb-custom">
    <h4 class="text-lg font-bold">Dashboard Pengeluaran</h4>
    <p-breadcrumb class="max-w-full" [model]="breadcumbdItems" [home]="home"></p-breadcrumb>
</div>

<div class="grid p-5">
    <!-- period -->
    <div class="col-12 md:col-8">
        <div class="custom-card">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <label for="icon"> Periode Awal</label>
                    <p-calendar class="p-inputtext-sm" [style]="{'width':'100%'}" id="date" [(ngModel)]="date" dateFormat="yy-mm-dd" [readonlyInput]="true" inputId="icon"></p-calendar>
                </div>
                <div class="col-12 md:col-3">
                    <label for="icon"> Periode Akhir</label>
                    <p-calendar class="p-inputtext-sm" [style]="{'width':'100%'}" id="date" [(ngModel)]="date" dateFormat="yy-mm-dd" [readonlyInput]="true" inputId="icon"></p-calendar>
                </div>
                <div class="col-12 md:col-3">
                    <label for="icon"> Rekening </label>
                    <p-dropdown class="p-inputtext-sm" [style]="{'width':'100%'}" [options]="rekeningDataOpt" [(ngModel)]="rekeningOpt"></p-dropdown>
                </div>
                <div class="col-12 md:col-3" style="padding-top: 39.5px;">
                    <p-button icon="pi pi-search" label="Filter" styleClass="p-button-sm w-full" ></p-button>
                </div>
                
            </div>
        </div>
    </div>

    <!-- balance -->
    <div class="col-12 md:col-4">
        <div class="custom-card">
            <div class="grid">
                <div class="col-12 flex align-items-center justify-content-center">
                    <p-avatar icon="pi pi-upload" shape="circle" styleClass="mr-4" size="large" [style]="{'background-color':'#f4e6e6', 'color': '#ff6060'}"></p-avatar>
                    <div class="balance">
                        <h5 class="text-lg mb-0 font-semibold">Rp. 3.500.000.000</h5>
                        <span class="text-xs">Total Pengeluaran</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- chart doughnut -->
    <div class="col-12 md:col-6">
        <div class="custom-card">
            <h4 class="text-lg">Bank Pengeluaran</h4>
            <div class="grid">
                <div class="col-12 align-items-center justify-content-center block mx-auto" style="width: 50%;">
                    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
                </div>

                <div class="col-12 align-items-center justify-content-center" style="border: 1px solid #dee4ea; padding: 0px;">
                    <p-dataView #dv [value]="bankData">
                        <ng-template let-bankData pTemplate="listItem">
                            <div class="flex w-full align-items-center p-2 gap-2">
                                <img style="max-width: 70px; height: fit-content;" class="block xl:block mx-auto border-round" [src]="onSetImgValue(bankData.name)" [alt]="'asd'" />
                                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div>
                                        <h5 class="text-sm mb-0 font-semibold">{{ bankData.amount }}</h5>
                                        <span class="text-xs">{{ bankData.name }}</span>
                                    </div>
                                    <div>
                                        <span class="text-xs font-semibold" style="color: white; padding: 5px; border-radius: 5px;" [ngStyle]="{'background-color': setColor(bankData.name)}">{{ bankData.percentage }} %</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </div>
    </div>

    <!-- chart bar -->
    <div class="col-12 md:col-6">
        <div class="custom-card">
            <h4 class="text-lg">Jenis Belanja</h4>
            <div class="grid">
                <div class="col-12 align-items-center justify-content-center block mx-auto w-full">
                    <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
                </div>

                <div class="col-12 align-items-center justify-content-center" style="border: 1px solid #dee4ea; padding: 0px;">
                    <p-dataView #dv [value]="transactionData">
                        <ng-template let-transactionData pTemplate="listItem">
                            <div class="flex w-full align-items-center p-2 gap-2">
                                <p-avatar label="{{transactionData.lable}}" styleClass="mr-2" size="large" shape="circle" [style]="{'background-color':'#f4e6e6', 'color': '#ff6060', 'font-size':'16px', 'font-weight':'bold'}"></p-avatar>
                                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div>
                                        <h5 class="text-sm mb-0 font-semibold">Rp. {{ transactionData.amount }}</h5>
                                        <span class="text-xs">{{ transactionData.desc }}</span>
                                    </div>
                                    <div>
                                        <span class="text-xs font-semibold" style="color: white; padding: 5px; border-radius: 5px;" [ngStyle]="{'background-color': setColor(transactionData.name)}">{{ transactionData.percentage }} %</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </div>
    </div>

</div>